/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/
/****-----start-body----****/
body {
    background-color: #526689;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    margin: 0 auto;
    width: 80%;
}

.login-10 {
    padding: 9em 0;
}

.tenth-login {
    background: #f6f8f7;
    text-align: center;
    border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    width: 32%;
    margin: 0 auto;
}

.tenth-login h4 {
    font-size: 1.2em;
    color: #646464;
    font-family: 'PT Sans', sans-serif;
    background: #eee;
    padding: 1.8em 0em;
    border-top-right-radius: 0.4em;
    -o-border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    -o-border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
}

form.ten {
    padding: 5% 0 7% 0;
}

form.ten p {
    font-size: 17px;
    color: #4d4d4d;
    padding: 12px 0 0px 0;
}

form.ten li {
    list-style: none;
    width: 90%;
    background: #3b5998;
    border: none;
    margin: 0 auto;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}

.icon10 {
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    margin: 19px 1px 0px 12px;
}

.user10 {
    background: url(../images/icon10.png) no-repeat 6px -37px;

}

.lock10 {
    background: url(../images/icon10.png) no-repeat 6px -77px;
}

form.ten li.cream {
    list-style: none;
    width: 80%;
    background: #f2f2f2;
    border: none;
    margin: 9px auto;
}

.tenth-login input[type="text"], .tenth-login input[type="password"] {
    width: 74%;
    padding: 0.8em 0.7em 1em 1em;
    color: #8f9091;
    font-size: 18px;
    outline: none;
    background: none;
    border: none;
    -webkit-appearance: none;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    border-left: 1px solid #fff;
}

.submit-ten {
    margin-top: 0.8em;
}

.tenth-login input[type="submit"] {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    padding: 0.8em 0em;
    width: 80%;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: #4d4d4d;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;

}

.tenth-login input[type="submit"]:hover {
    background: #3b5998;
}

/**sixth-login**/

/*-----start-responsive-design------*/
@media (max-width: 1024px) {
    .tenth-login {
        width: 38%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .tenth-login {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 640px) {
    .tenth-login {
        width: 67%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .tenth-login {
        width: 85%;
        margin: 0 auto;
    }

    .login-10 {
        padding: 4em 0;
    }
}

@media (max-width: 320px) {
    .tenth-login {
        width: 92%;
        margin: 0 auto;
    }

    .tenth-login h4 {
        font-size: 1.2em;
        padding: 1em 0em;
    }

    .tenth-login input[type="text"], .tenth-login input[type="password"] {
        width: 60%;
        padding: 0.7em 0.6em;
        font-size: 16px;
    }

    .tenth-login input[type="submit"] {
        font-size: 17px;
        padding: 0.6em 0em;
        width: 80%;
    }

    .login-10 {
        padding: 3em 0;
    }
}
